body{
    /*background-color: rgb(28,37,55);*/
    background-color: #282c34 !important;
}
#label{
    color: white;
}
#heading{
    color: #4169e1 !important;
}
#positioning{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginLogo
{
    height: auto;
    width: 5em;
}
.btnGroup
{
    width: 100%;
}
.btnSubmit
{
    width: 50%;
    background-color: #4169e1;
}
.btnAccessCode
{
    width: 50%;
    border-color: white;
    color:white;
}
.btnAccessCode:hover
{
    background-color: #4169e1;
}

.invalidCredentials
{
    color: red;
    font-size: 1.1em;
}