table 
{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
  
td, th 
{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.viewResultsSection
{
  width: 70%;
}

#fail {
  background-color: rgb(179, 48, 48);
}